<section class="book">
        <h1 class="book__title"> Books I recommend </h1>
    
        <div class="book-container">
    
                {% for book in site.data.books %}

            <div class="book-item">
                <img class="book-item__img" src="{{'/public/img/books/' | relative_url }}{{book.image_name}}" alt="">
    
                <div class="book-content">
                    <h3 class="book-content__title">{{book.title}}</h3>
                    <p class="book-content__desc">
                       {{book.description}}
                    </p>
    
                </div>
    
            </div>

            {% endfor %}

    
        </div>
    
    
    </section>
