<section class="cover-container">
        {% for profile in site.data.cover-profile %}
        <img class="cover" src="{{'/assets/img/cover-profile/' | relative_url }}{{profile.cover_image}}" alt="cover image">
    
    
        <div class="cover-profile">
    
            <img class="cover-profile__img" src="{{'/assets/img/cover-profile/' | relative_url }}{{profile.profile_image}}" alt="">
    
            <h1 class="cover-profile__name">{{profile.name}}</h1>
            <h3 class="cover-profile__job-title">{{profile.job-title}}</h3>
    
            <p class="cover-profile__description">{{profile.description}}</p>
    
                    <footer class="cover-footer">
                        <span class="cover-footer__localtion">{{profile.location}}</span>
                        {% endfor %}
                        <ul class="social-accounts">
    
                            {% for account in site.data.accounts %}
                            <li>
                                <a target="_blank" rel="noopener" href="{{account.link}}">
                                    <img src=" {{'/assets/img/social-icons/' | relative_url }}{{account.img}}" alt="">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </footer>
    
        </div>
    
    
    
    </section>