
        <div class="sidebar">

                <div class="sidebar__profile">

                        <img class="sidebar__img" src="{{'/assets/img/sidebar-profile/potrait.png' | relative_url }}" alt="profile image">

                       

                        <h1 class="sidebar__name">Jane Doe</h1>
                        <h3 class="sidebar__job-title">Mobile Web Specialist</h3>

                        <a class "sidebar__link" href="{{'about-me' | relative_url }}">More about me</a>

                </div>
        </div>