<section class="social-share">
        <h1  class="social-share__quote">Sharing is caring</h1>

        <ul class="social-h">
                {% for social in site.data.social-share %}
                <li>
                        <a class="t" href="{{social.link}}" onclick="window.open(this.href, 'mywin',
                        'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                        <img src=" {{'/assets/img/social-icons/' | relative_url }}{{social.img}}" alt="{{social.name}}">
            </a>
                </li>
                {% endfor %}
                
           </ul>
</section>   





