
<section class="my-journey">


        <h1 class="my-journey__title"> MY JOURNEY </h1>
    
        <div class="timeline">
    
    
            {% for timeline in site.data.timeline %}
            <div class="timeline__block">
                <span class="timeline__image"> </span>
                <div class="timeline__content">
                    <h3 class="timeline__headline"> {{ timeline.title }}</h3>
                    <div class="t-info">
                        <img class="t-info__logo" src="{{'/assets/img/timeline/' | relative_url }}{{timeline.img-name}}" alt="">
                        <p class="t-info__p">{{ timeline.description }}</p>
                    </div>
    
                </div>
                <div class="timeline__hidden">
    
                </div>
            </div>
            {% endfor %}
    
    
        </div>
    </section>