.blog-container {
    width: 100%;


// most-recent 
.most-recent {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.5rem;
    padding: 2rem;

    margin-right: 12rem;
    margin-left: 2rem;
    margin-bottom: 3rem;

    @include media(phone) {
        margin-right: 2rem;
        margin-left: 2rem;
        
       }

    > h1 {
        font-size: 3.2rem;
        font-weight: bolder;
        
    }
    > p {
        font-size: 1.6rem;
        color: #707070;
        margin-bottom: 2rem;
    }
    &__read-more {
        font-size: 2.3rem;
        color: #707070;
        font-weight: bold;
        margin-right: 5rem;
        text-align: right;
        display: block;
    }
}
}